
.contenedor2 {
	border: 3px solid black;
	padding: 5px;
	display: flex;
	flex-direction: column;
	background-color: grey;
	border-radius: 5px;
}

.formulario {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.header {
	border-bottom: 2px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2px;
}

.comments {
	padding: 5px;
	border-top: 3px solid black;
}