
.contenedor2 {
	border: 3px solid black;
	padding: 5px;
	display: flex;
	flex-direction: column;
	background-color: grey;
	border-radius: 5px;
}

.formulario {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.postItemFecha {
	color: rgba(255, 255, 255, 0.5);
	font-size: 10px;
	margin: 2px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2px;
}

.comments {
	padding: 5px;
	border-top: 3px solid black;
}

.categorias {
	display: flex;
	flex-direction: row;
	padding: 2px 0;
	justify-content: flex-start;
	border-bottom: 2px solid black;
}

.categoria {
	font-size: 14px;
	color: black;
	margin-left: 8px;
}