
<div class="contenedor2">
	<div class="header">
		<h2>{{post.title}}</h2>
		<h2>{{post.author.username}}</h2>
	</div>

	<h3 class="postItemFecha">{{post.created_at | date:'medium'}}</h3>

	<div class="categorias">
		<div class="categoria" *ngFor="let category of post.categories">
			{{category}}
		</div>
	</div>

	<p>{{post.texto}}</p>

	<ng-template [ngIf]="samePostUser()">
		<button class="btn btn-default" (click)="onEditPost()" >Edit</button>
		<button class="btn btn-danger" (click)="onDeletePost()">Delete</button>
	</ng-template>

	<div class="comments">
		<div class="comment" *ngFor="let comment of post.comments">
			<p>{{comment.author.username}}</p>
			<p>{{comment.text}}</p>
		</div>
	</div>
	<div class="formulario" *ngIf="authService.isAuthenticated()">
			<textarea name="text" id="" cols="30" rows="4" [(ngModel)]="comment" ></textarea>
	</div>
</div>
<button class="btn btn-success" (click)="addComment()" *ngIf="authService.isAuthenticated()">Add comment</button>