<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Add New Post</h2>
			<form  (ngSubmit)="onSubmit()" [formGroup]="postForm">
				<div class="form-group">
					<label for="title">New Title</label>
					<input type="text" class="form-control" id="title" formControlName="title">
				</div>

				<div class="form-group">
					<label for="texto">Texto</label>
					<textarea 
						type="text"
						formControlName="texto" 
						id="texto" 
						cols="30" 
						rows="10" 
						class="form-control" 						
					></textarea>
				</div>

				<div formArrayName="categories" >
		          <h4>Your Categories</h4>
		          
				    <div class="panel panel-default">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Choose Categories (Maximum 5)</div>
					  <div class="panel-body">
					    <app-category-item *ngFor="let category of posiblesCategorias" [cItem]="category" (cCreated)="onAddCategory($event)"></app-category-item>
					  </div>
					</div>

		          <div 
		            class="form-group"
		            *ngFor="let categoryControl of postForm.get('categories').controls; let i = index" >
					<p>{{categoryControl.value}}</p>
					<button 
			          class="btn btn-default" 
			          type="button"
			          (click)="onDeleteCategory(i)" >Delete Category</button>

		          </div>
		        </div>

				<button 
	          class="btn btn-primary" 
	          type="submit"
	          [disabled]="!postForm.valid">Submit</button>

			</form>		
		</div>
	</div>
</div>
